/* CSS Document */
* {box-sizing: border-box;}
.mcontainer{
position:static;
display:flex;
flex-direction: row;
justify-content: space-around;
}
.mn{
position:static;
display:flex;
justify-content: center;
}
.cnt{
display:grid;
}
nav{
width:125em;
text-transform: uppercase; line-height:5em;
 display:flex;  flex-direction: row; justify-content: space-evenly;
 background:rgb(0,204,204);
 text-decoration:none;
    }
    nav a {
color:navy;
font-size:25px;
text-decoration: none;
}
header{display: flex; 
      }

.container{
display:grid;
place-items:left;
}
.container2{
display:flex;
align-content:flex-start;
justify-content:space-around;
}
.container3{
display:grid;
place-items:left;
}
body{
	background: url(milky-way-2695569_1280.jpg) no-repeat fixed;
	background-size:100%; font-size: 1em; 
    }

H1{flex: 45%;
    font-size:50px;
    color:rgb(255,255,255);
    display: flex; flex-flow:row wrap; justify-content:center;}

main{
    size:1;
	position:absolute;
	top:35%; 	left:1vw;	width:99vw;	height:80%;
	overflow:auto ;	background-color:rgb(204,255,255);
    font-size:30px
    }
h2{
font-style:oblique;
}
main p{
font-size:60%;
font-style: italic;
}
div{
display: flex; flex-flow:row; justify-content:spaced-evenly;}
}


